@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

body{
	background-color: #241f20;
	margin: 0;
	padding: 0;
	font-family: futura;
	background-image: url('img/47H.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.alexplainPage {
	background-color: rgba(0,0,0, .5);
	height: 100vh;
}

p {
	margin: 0;
}

.fa {
	font-size: 2.8em;
}

.arrow-down {
	margin: 0 auto;
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid #2e9fff;
}

.arrowProfileText {
	margin: 0 auto;
	text-align: center;
	padding-top: 2em;
}

 /*==========================*/

/* LAYOUT */

 /*==========================*/

.link {
	margin-bottom: 1em;
}

.vertContent {
	margin-top: 8em;
}

.linkDivs {
	display: inline-block;
	padding: 2em 1em .5em 1em;
}

.divLinkText {
	font-size: .6em;
}


 /*==========================*/

 /* FONT */

 /*==========================*/
.textJustify {
	text-align: justify;
}

.textHeavy {
	font-weight: 400;
}

.textWhite {
 	color: white;
}

.blueText {
	/*color: #aedaff;*/
	color: #241f20;
}

.grayText {
	color: #b4b8ba;
}

.darkGrayText {
	color: #8c9295;
}

.dash {
	color: #2e9fff;
}

.jsText {
	font-size: 1.9em;
}

.linkText {
	font-size: 1.3em;
}

.textCenter {
	text-align: center;
}

.titleText {
	font-size: 1.7em;
	text-align: center;
}

.nameText {
	font-size: 4em;
	text-align: center;
}

.pinkBackground {
	background-color: #ff2e9f;
}

.greenBackground {
	background-color: rgba(46,255,142, .8);
}

 /*==========================*/

 /* MEDIA */

 /*==========================*/

@media (max-width: 768px){
	.vertContent {
		margin-top: 1.5em;
	}
	.link {
		padding: 1.3em 0;
	}
	.linkText {
		font-size: 2em;
	}
}

@media (max-width: 480px){
	html, body. div{
    	margin: 0 !important;
    	padding: 0 !important;
    	width: 100%;
	}
	html, body { overflow-x: hidden; }
	.mobileMargin {
		margin: 0 !important;
    	padding: 0 !important;
    	width: 100%;
	}
	.link {
		padding: .5em 0;
	}
	.nameText {
		font-size: 3em;
	}
	.jsText {
		text-align: center;
	}
	.greenBackground {
	background-color: rgba(46,255,142, .5);
	}
	.pinkBackground {
	background-color: #ff2e9f;
	}
	.alexplainPage {
		background-color: rgba(0,0,0,.5);
		height: 100vh;
		width: 100%;
		background-size: cover;
		margin: 0 !important;
    	padding: 0 !important;
    	width: 100%;
	}
	.vertContent {
		margin-top: 0;
	}
	.darkGrayText {
		color: white;
	}
}



